<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" style="height: calc(100vh - 70px)" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="background: #248eb1; width: 230px; height: 100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-vertical-stepper [linear]="true">
        <mat-step label="Claim Registration" state="tick">
          <div>
            Helloo</div>
        </mat-step>
        <mat-step label="Claim Registration" state="phone">
          <div>
            Helloo</div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>