<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFill>
  <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <h3>
      You need to be logged in to access this page.</h3>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button routerLink="./login" mat-dialog-close="this.router.navigate([&apos;./login&apos;])" color="warn">Okay</button></div>
  </div>
</div>